[submodule "3rdparty/bigg"]
	path = 3rdparty/bigg
	url = https://github.com/pezcode/bigg.git
	branch = master
[submodule "3rdparty/IconFontCppHeaders"]
	path = 3rdparty/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
